/* Fade In on Load */
body {
    animation: fadeInAnimation ease 1.5s;
}

@keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Utilities */
#all-content {
  margin: 0px 100px 50px 100px;
}
@media screen and (max-width: 600px) {
  #all-content {
    margin: 0px 10px 30px 10px;
  }
}

.hidden {
  display: none;
}

a:hover {
  cursor: pointer;
}

.special-link:hover {
  animation: highlighter 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes highlighter {
 0% {
   background-color: none;
 }
 100% {
   background-color: rgba(252, 205, 205, 0.8);
 }
}

a {
  text-decoration: none;
  color: #EF3A4A;
}

/* Back Arrow */
.back-arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#back {
  width: 65px;
  height: 55px;
}
#back-img {
  width: 100%;
  height: 100%;
}
.caption {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #444444;
}
.caption-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #444444;
}
h4 {
  margin-left: 10px;
  margin-right: 10px;
}
.caption:hover {
  color: #EF3A4A;
}
.caption:hover #back {
  animation: backArrow 0.75s ease-in 0s infinite alternate;
}
.caption-right:hover{
  color: #EF3A4A;
}
.caption-right:hover #back-to-top {
  animation: scrollBounce 0.75s cubic-bezier(0.42, 0, 0.7, 0.5) 0s infinite alternate;
}
@keyframes scrollBounce {
  100% {transform: translateY(15px);}
}
@keyframes backArrow {
  100% {transform: translateX(-15px);}
}

@media screen and (max-width: 600px) {
  #back {
    width: 45px;
    height: 35px;
  }
  .caption {
    font-size: 12px;
  }
  .caption-right {
    font-size: 12px;
  }
  h4 {
    margin-left: 5px;
    margin-right: 5px;
  }
  @keyframes scrollBounce {
    100% {transform: translateY(10px);}
  }
  @keyframes backArrow {
    100% {transform: translateX(-10px);}
  }
}

/* Back to Top */
#back-to-top {
  width: 70px;
  height: 60px;
  float: right;
}

#btp-svg {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  #back-to-top {
    width: 50px;
    height: 40px;
  }
}

/* Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1 0 auto;
}

footer {
  background-color: #FFF5D7;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#footer-text {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #EF3A4A;
  margin-left: 20px;
}

#footer-icons-div {
  margin-right: 20px;
}

.footer-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  footer {
    height: 80px;
  }
  #footer-text {
    font-size: 8px;
    margin-left: 10px;
  }
  #footer-icons-div {
    margin-right: 10px;
  }
  .footer-icon {
    width: 25px;
    height: 25px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 350px) {
  .footer-icon {
    width: 20px;
    height: 20px;
  }
}

/* Header */
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0px 20px 0px;
}

/* Logo */
#gdp-logo {
  height: 100%;
}

#gdp-logo-div {
  height: 110px;
}

@media screen and (max-width: 600px) {
  #gdp-logo-div {
    height: 85px;
  }
}

/* Large Navbar */
#nav-bar {
  float: right;
  display: flex;
  flex-direction: row;
  transform: translateY(35px);
}

.large-nav-button {
  margin-left: 25px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #444444;
  text-decoration: none;
}

.large-nav-button:hover {
  color: #EF3A4A;
}

#curr-link {
  color: #EF3A4A;
}

/* Small Navbar */
@media screen and (max-width: 600px) {
  #nav-bar {
    display: none;
  }

  #small-screen-nav {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .small-nav-button {
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #444444;
    text-decoration: none;
  }

  .small-nav-button:hover {
    color: #EF3A4A;
  }

  #curr-link {
    color: #EF3A4A;
  }

  #three-bars {
    font-size: 26px;
  }
}

/* Page Titles */
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #444444;
  text-align: center;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
    margin-bottom: 25px;
  }
}

#title {
  margin-bottom: 75px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #EF3A4A;
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 18px;
    margin: 10px 0px 0px 0px;
  }
  #title {
    margin-bottom: 50px;
  }
}

/* Body Text */
.body-text {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  color: #444444;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.f-left {
  float: left;
  width: 100%;
}
#caption-text {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  color: #444444;
  text-align: center;
  margin-left: 50px;
  margin-block-end: 0em;
}

@media screen and (max-width: 600px) {
  .body-text {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  #caption-text {
    margin: auto;
  }
}

/* Mobile Overview Layout */
#overview-div {
  margin-bottom: 50px;
}
/* Small Imgs */
.img-small {
  width: 80vw;
  margin: auto;
}

.photo {
  width: 100%;
  height: auto;
}

/* Tablet/Desktop Overview Layout */
@media screen and (min-width: 600px) {
  #overview-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  /* Small Imgs */
  .img-small {
    width: 250px;
    margin-left: 50px;
  }

  .photo {
    width: 100%;
    height: auto;
  }
}

/* Other Highlights */
.highlight-div {
  max-width: 650px;
  margin: auto;
}

.highlight-img {
  width: 100%;
  height: auto;
}

.text-spacing {
  margin-top: 50px;
  margin-bottom: 50px;
}

#space {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
  .highlight-div {
    width: 80vw;
    margin: auto;
  }
}
