/* Created By: Genevieve Del Prete */

/* Misc */
.hidden {
  display: none;
}

.fit-img {
  width: 100%;
  height: 100%;
}

#wide1-img {
  width: 120%;
  height: 100%;
  transform: translateX(-30px);
}

#wide2-img {
  width: 120%;
  height: 100%;
  transform: translateX(-40px);
}

/* Page Titles */
.page-title {
  color: #EF3A4A;
  font-size: 36px;
  font-family: 'Trocchi', serif;
  position: absolute;
  z-index: 5;
  transform: translateX(-50%);
  left: 50%;
  top: 15px;
}

/* Scroll Down Arrow */
.scroll-down {
  width: 100%;
  height: 100%;
  animation: scrollBounce 0.75s cubic-bezier(0.42, 0, 0.7, 0.5) 0s infinite alternate;
}

.arrowDown {
  position: absolute;
  z-index: 5;
  width: 125px;
  cursor: pointer;
  transform: translateX(-50%);
  left: 50%;
  bottom: 15px;
}

@keyframes scrollBounce {
  100% {transform: translateY(15px);}
}

#back-to-top {
  position: absolute;
  z-index: 5;
  width: 80px;
  cursor: pointer;
  bottom: 15px;
  right: 15px;
}

#up-arrow {
  width: 100%;
  height: 100%;
  animation: scrollBounce 0.75s cubic-bezier(0.42, 0, 0.7, 0.5) 0s infinite alternate;
}

#top-label {
  position: absolute;
  z-index: 5;
  font-size: 17px;
  font-family: 'Karla', sans-serif;
  color: #EF3A4A;
  cursor: pointer;
  bottom: 80px;
  right: 15px;
}

/* Navigation */
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #EF3A4A;
}

#fp-nav ul li .fp-tooltip {
  color: #EF3A4A;
  font-family: 'Trocchi', serif;
  font-size: 16px;
}

/* Home Page */
.section {
  text-align: center;
}

#home-center-box {
  display: inline-block;
}

#home-content {
  display: flex;
  flex-direction: row;
}

#home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#criss-cross {
  width: 350px;
}

#main-title {
  color: #EF3A4A;
  background-color: #FFF5D7;
  font-size: 20px;
  font-family: 'Trocchi', serif;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  transform: translate(20px, -25px);
  margin-bottom: 20px;
}

#main-title-accent {
  background-color: #FCCDCD;
  font-size: 20px;
  font-family: 'Trocchi', serif;
  padding-left: 20px;
  padding-right: 20px;
}

#type-carousel {
  font-size: 28px;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  margin-left: 25px;
}

/* Experience */
#experience-grid {
  display: flex;
  justify-content: center;
}

.exp-box {
  position:relative;
  width: 375px;
  height: 275px;
  overflow: hidden;
  margin: 20px;
}

.exp-description {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: #333333;
  visibility: hidden;
}

.exp-box:hover .exp-description {
  transition: opacity .3s;
  visibility: visible;
  opacity: 0.9;
}

.exp-desc-title {
  color: #FFFFFF;
  font-family: 'Karla', sans-serif;
  font-size: 17px;
  text-align: center;
}

.exp-desc-body {
  color: #FFFFFF;
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

/* Projects */
#projects-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.proj-box {
  position: relative;
  width: 350px;
  height: 250px;
  margin: 20px;
  overflow: hidden;
}

.proj-description {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: #333333;
  visibility: hidden;
  transition: opacity .3s;
}

.proj-box:hover .proj-description {
  visibility: visible;
  opacity: 0.9;
}

.proj-desc-title {
  color: #FFFFFF;
  font-family: 'Karla', sans-serif;
  font-size: 17px;
  text-align: center;
}

.proj-desc-body {
  color: #FFFFFF;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

/* About Me */
#about-pics {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-me-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#me-food {
  width: 250px;
  overflow: hidden;
}

#interests {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#interest-item1 {
  width: 165px;
  overflow: hidden;
}
#interest-item2 {
  width: 85px;
  height: 125px;
  overflow: hidden;
}
#interest-item3 {
  width: 135px;
  height: 105px;
  overflow: hidden;
}
#about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-body-text {
  width: 425px;
  text-align: left;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  color: #333333;
  margin-left: 20px;
}

#about-disclaimer-text {
  width: 425px;
  text-align: left;
  font-family: 'Karla', sans-serif;
  font-size: 12px;
  color: #333333;
  margin-left: 20px;
}

#icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-media {
  width: 40px;
  margin: 10px;
}
